@import "../../index.module";

.table{

  margin-top: 20px;

  .table-thead {

    background: #F6F6F6;
  }

  .table-thead-min {

    background: #F6F6F6;
    font-size: 13px
  }

}

.custom-spinner {

  margin-left: 10px;
}
