@import "../../index.module";



.m-row {
  font-size: 15px;
  padding-top:20px;
  padding-bottom:10px;
  border-bottom: 1px solid $under-line;
  font-weight: bold;

  span {
    color:$main-green;
  }
  .m-money {
    font-size: 14px;
    padding-top:10px;
    text-align: right;
    font-weight: normal;
    color: $main-gray;
  }
}


.table{

  margin-top: 20px;

  .table-thead {

    background: #F6F6F6;
  }

  .table-thead-min {

    background: #F6F6F6;
    font-size: 13px
  }
  .table-td-min {
    font-size: 13px;
  }

  .pointer {
    cursor: pointer;
    color: #4374D9;
  }
  .left {
    text-align: left;
  }
  .right{
    text-align: right;
  }
}

.modal {

  font-size: 13px;

  .modal-td-contents {
    border-bottom: 1px solid $under-line;
  }
  .modal-td {
    text-align: center;
    width: 130px;
    background: #EBF7FF;
    border-bottom: 1px solid $under-line;
  }
  .modal-td-g {
    text-align: center;
    width: 130px;
    background: #E3FFDB;
    border-bottom: 1px solid $under-line;
  }
}

.basic-image {
  width: 500px;
  max-width: 100%;
}
.image {
  width: 400px;
  max-width: 100%;
  margin-bottom:10px;
  margin-top:10px;
}

.custom-spinner {

  margin-left: 10px;
}


.card-title {
  font-size: 10px;
}
.card-text{
  font-size: 13px;
  color: #6c757d !important;
}
.card-body{
  max-height: 150px;

}
.card-image{
  height: 100%;
  max-height: 130px;
}
.muted-color {
  color: red;
}
