@import "../../index.module";

.table{

  margin-top: 20px;

  .table-thead {

    background: #F6F6F6;
  }

  .table-thead-min {

    background: #F6F6F6;
    font-size: 13px
  }

}

.table_loading {

  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  //height: 100vh;
}




