@import "../../index.module";

.link:hover {
  color: #000000;
  text-decoration:none;
}
.link {
  color: #000000;
}



.sub-title {
  font-family: 'Title_Light', sans-serif;
  color: #000000;
}


.image-container {
  position: relative;

  .image-blank {
    height: 180px;
  }

  .badge-crops {
    position: absolute;
    top: 6%;
    left: 6%;
  }
  .badge{
    position: absolute;
    bottom: 6%;
    right: 6%;
  }
}


