@import "../../index.module";


.cc-banner {

  max-height: 330px;
  min-height: 180px;
}
.sub-title {
  font-family: 'TitleV', sans-serif;
  color: #565656;
  padding-top:7px;
  padding-bottom:10px;
}


.image-container {
  position: relative;

  .image-blank {
    display: block; margin: 0px auto;
    height: 200px;

  }

  .badge-crops {
    font-size: 16px;
    position: absolute;
    top: 6%;
    left: 6%;
  }
  .badge{
    font-size: 17px;
    position: absolute;
    bottom: 6%;
    right: 6%;
  }

  .title{
    font-size:16px;
    position: absolute;
    top: 4%;
    left: 3%;
  }
  .sub-title{
    font-size: 17px;
    position: absolute;
    bottom: 4%;
    right: 3%;
  }
}

.week-container {
  padding-left: 15px;
  padding-right: 15px;
  color: #5D5D5D;
}

.best-contents-container {

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  font-size: 14px;

  .blog-image {

    width: 100%;
    min-width: 100px;
    max-height: 100px;
    height: 100px;
  }

  .best-contents {
    padding-top: 5px;
    color: #5D5D5D;

  }
}

.sns-contents-container {

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 14px;

  .blog-image {

    width: 100%;
    min-width: 100px;
    max-height: 100px;
    height: 100px;
  }

  .sns-contents {
    padding-top: 0;
    color: #000000;

  }
  .sns-time {
    width:100%;
    padding-bottom: 7px;
    color: #5D5D5D;
    text-align: left;
  }
}

.small-r {
  text-align: right;

}
.sns_hr {
  padding:0;
  margin:0;
}
.naverblog-color {
  background: #F2FFED;
}
.twitter-color {
  background: #EBFFFF;
}

.image-ico {
  border-radius: 20px;
  width:32px;
  height: 32px;
}



//.splash {
//  background: #ffffff;
//  height: 100vh;
//  width: 100%;
//  color:$main-color;
//  .title {
//    font-family: 'TitleV', sans-serif;
//    font-weight: bold;
//    font-size: 7vh;
//  }
//  .sub{
//    //font-family: 'TitleV', sans-serif;
//    font-size: 1.6vh;
//    padding-top:400px;
//  }
//  img{
//    width: 120px;
//    height: 120px;
//  }
//}

.splash {
  background: $main-color;
  height: 100vh;
  width: 100%;
  color:#2D3742;
  .title {
    font-family: 'TitleV', sans-serif;
    font-weight: bold;
    font-size: 7vh;
  }
  .sub{
    //font-family: 'TitleV', sans-serif;
    color:#2D3742;
    font-size: 1.6vh;
    padding-top:400px;
  }
  img{
    width: 120px;
    height: 120px;
  }
}