
.tabs {
  border-top: 3px solid #22741C;
  height: 30px;
  line-height: 30px;
}

.tab {

  background: #F6F6F6;

  a:hover, a:link, a:active {
    font-weight: bold;
    color: #5D5D5D;
    text-decoration: none;
    background-color: transparent;

  }
}

