@import "../../index.module";


.profile-container-fluid {

  width: 100%;
  background: #ffffff;
}

.profile-introduce {
  width: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.profile-container {

  text-align: center;

  .mentoring-button {

    margin-top: 20px;
  }

  .profile-image-container {

    margin-top: 20px;

    .profile-image {

      border: 1.5px solid #ffffff;
      width: 180px;
      height: 180px;
    }
  }

  .profile-info {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 30px;
    padding-bottom: 20px;
  }
}


.mentors-cards {

  font-family: 'Title_Light', sans-serif;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: 10px;
  }

  .mentors-title {

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid $under-line;
  }

  .mentors-contents {
    color: #747474;
    font-size: 15px;
    line-height: 25px;
  }
}

.mentors-cards:hover {

  //background-color: #ffffff;
  //opacity: 0.5;
  border: 1px solid $main-color;
}

@media (min-width: 576px) {

  .profile-info {
    margin-top: 0px;
    margin-left: 20px;
  }
}