@import "../../index.module";



.profile-container-fluid {

  width: 100%;
  background: #ffffff;
}



.profile-introduce {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.profile-container {
  text-align: center;
  .mentoring-button {
    margin-top: 10px;
    font-size: 13px;
  }
  .profile-image-container {
    margin-top: 20px;
    .profile-image {
      border: 1px solid #ffffff;
      width: 100px;
      height: 100px;
    }
  }
  .profile-info {
    font-size: 13px;
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 20px;
    padding-bottom: 10px;
  }
}





.mentors-cards {

  font-family: 'Title_Light', sans-serif;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: 10px;
  }

  .mentors-title {

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid $under-line;
  }

  .mentors-contents {
    color: #747474;
    font-size: 15px;
    line-height: 25px;
  }
}

.mentors-cards:hover {

  //background-color: #ffffff;
  //opacity: 0.5;
  border: 1px solid $main-color;
}

@media (min-width: 760px) {

  .profile-introduce {
    width: 100%;
    min-height: auto;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }

  .profile-container {
    text-align: center;
    .mentoring-button {
      margin-top: 20px;
    }

    .profile-image-container {
      margin-top: 20px;
      .profile-image {
        border: 1.5px solid #ffffff;
        width: 140px;
        height: 140px;
      }
    }
    .profile-info {
      font-size: 16px;
      text-align: left;
      margin-top: 20px;
      margin-left: 20px;
      line-height: 30px;
      padding-bottom: 20px;
    }
  }
}