@import "../../index.module";

.nav-link {
  color: #666666;
  &:hover{
    color: #333333;
  }
  &.active {
    font-weight: bold;
  }
}

body{
  font-family: 'Batang_Bold', sans-serif;
}

.top-bar {
  margin: 0;
  text-align: right;
  font-size: 13px;
  padding-bottom: 7px;
  padding-top:7px;
  color:#000000;
  line-height: 18px;
  height: auto;
}


.header-title {
  font-family: 'TitleV', sans-serif;
  color:$main-color;
  font-weight: bold;
  font-size: 5vh;

  img {
    //width: 35px;
    height: 55px;
  }
}


.header-m {
  width: 100%;
  float:left;
  .header-title-m {

    text-align: center;
    font-family: 'TitleV', sans-serif;
    color:$main-color;
    font-weight: bold;
    font-size: 30px;

    img {
      height: 35px;
    }
  }
}


.empty-brand {
  height: 30px;
}

.navbar-coll{
  text-align: center;
  margin: 0 auto;

}
.header-menu {
  //padding-left:7px;
  padding-right:7px;
  font-family: 'Title_Medium', sans-serif;
}
.member-bar {
  margin: 0;
  padding:0;
  text-align: right;
  background: #d3d9df;
}

.mypage-chat-container {

  padding-bottom: 15px;
}

.mypage-h {
  margin:0;
}
.mypage-container {

  padding-bottom: 15px;

  .mypage-image {

    width: 135px;
    height: 135px;
    padding:2px;
    background: $under-line;
    border: 1px solid #BDBDBD;
    border-radius: 120px;
  }
  .mypage-row{

    padding-top: 10px;
    //padding-bottom: 5px;
    //border-bottom: 1px solid red;
  }

}
.in-container-introduce {

  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom:80px;
  background: #ffffff;

  .introduce-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
  }
  .title {
    text-align: left;
    font-size: 21px;
  }
  b {
    color:#F15F5F;
  }
}

.footer{
  color: #ffffff;
  background: #2D3742;
}

.footer_banner {
  width: 120px;
  height: 40px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.recommend-container{

  margin-top: 18px;
  padding-bottom: 20px;

  .recommend-image {
    width:100%;
    max-width: 349px;
    max-height: 160px;
  }
  .recommend-txt {
    height: 100%;
    //max-height: 200px;
  }
}

@media (min-width: 576px) {

  .top-bar {
    margin: 0;
    text-align: right;
    font-size: 13px;
    padding-top:7px;
    padding-bottom:7px;
    color:#000000;
  }

  .in-container-introduce {
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top:15px;
    padding-bottom:80px;
    background: #ffffff;

    .introduce-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      height: auto;
      border-radius: 30px;
    }

    .title {
      text-align: center;
      line-height: 55px;
      font-size: 28px;
    }
    b {
      color:#F15F5F;
    }
    p {
      font-size: 17px;
      padding-left:75px;
      padding-right:75px;
    }
  }
}

