@import "../../index.module";

.nav-link {
  color: #666666;
  &:hover{
    color: #333333;
  }
  &.active {
    font-weight: bold;
  }
}

body{
  font-family: 'Batang_Bold', sans-serif;
}


.header-title {
  font-family: 'Batang_Bold', sans-serif;
}
.header-menu {
  font-family: 'Batang_Bold', sans-serif;
}

.footer{
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  font-size: 14px;
  height: auto;
  background: #fff;
}



