$container-background: #F6F6F6;
$main-color: #FFBB00;
$under-line: #E7E7E7;
$main-gray: #4e555b;
$main-green: #2F9D27;


.m-bg{
  background: #2D3742;
}

.selector {
  padding-top:5px;
  padding-bottom:5px;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
footer {
  padding-top:20px;
  padding-bottom: 10px;
  margin-top: 1rem;
  font-size: 14px;
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #fff;
  text-align: center;
}


.auto-container {
  height: 100%;
}

.custom-full-container {
  width: 100%;
  background: #ffffff;
}

.container-banner{
  background: red;
}
.custom-container-fluid-top {
  background: #fff;
  //background: #FFBB00;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding:17px;
}
.custom-container-fluid {
  background: #fff;
  border-bottom: 1px solid #C3C3C3;
}
.full-width {
  padding-left:0;
  padding-right:0;
}
.in-container {
  //font-family: 'Title_Light', sans-serif;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top:15px;
  background: #ffffff;

  .end-button-top {

    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.empty-content {

  font-size: 1.3rem;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.main-icon {
  color:$main-color;
  font-size: 1.1em;
  margin-right: 0.4em;
}
.icon {

  font-size: 1.1em;
  margin-right: 0.6em;
}
.icons {

  font-size: 0.9em;
  margin-right: 0.8em;
}
.homi {
  margin-top: 20px;
  margin-bottom: 20px;
  width:40px;
  height: 40px;
}

.link:hover {
  color: #000000;
  text-decoration:none;
  cursor: pointer;
}
.link {
  color: #000000;
}
.link-w:hover {
  color: #ffffff;
  text-decoration:none;
  cursor: pointer;
}
.link-w {
  color: #ffffff;
}

.header-container{

  font-family: 'Title_Medium', sans-serif;
  font-size: 20px;
}

.source{
  color: #7A7A7A;
  font-size: 12px;
  text-align: right;
  padding-top:10px;
  padding-right: 10px;
}

.right-btn{
  text-align: right;
  padding-right: 10px;
}


.col-p-t {
  font-size:14px;
  padding-top:3px;
}
.date {
  color: #BDBDBD;
  font-size: 13px;
}



.float-button-position {

  margin: 0 auto;
  top: auto;
  right: 8%;
  bottom: 4%;
  left: auto;
  position: fixed;
  cursor: pointer;

  .float-button{
    text-align: center;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: $main-color;
  }
}



@media (min-width: 576px) {

  .float-button-position {
    margin: 0 auto;
    top: auto;
    right: 6%;
    bottom: 5%;
    left: auto;
    position: fixed;
    cursor: pointer;
  }
}