@import "../../index.module";

h* {
  color: red;
}

.user-create-container {
}
@media (min-width: 1200px) {
  .user-create-container {
    padding-left:15%;
    padding-right:15%;
    background: #ffffff;
  }
}

